.github            export-ignore
.gitattributes     export-ignore
.gitignore         export-ignore
README.md          export-ignore
LICENSE.md         export-ignore
tests              export-ignore
phpunit.xml        export-ignore
psalm.xml          export-ignore
examples           export-ignore
docker             export-ignore
docker-compose.yml export-ignore
Makefile           export-ignore
.scrutinizer.yml   export-ignore